.hero {
    max-width: 1600px;
    margin: auto;
    background-image: url('/1 1.png');
    width: auto;
    height: auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 1%;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10%;
    padding-top: 5%;
  }
  
  .hamburger {
    position: relative;
    margin: 15%;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
  
  .logo {
    width: 200px;
    height: 80px;
  }
  
  .menu {
    display: flex;
    gap: 5%;
    position: absolute;
    right: 18%;
    top: 15%;
  }
  
  #btn {
    padding: 5px 20px;
    border-radius: 10px;
    border: 1px solid whitesmoke;
    background-color: transparent;
    color: whitesmoke;
    font-size: large;
  }
  
  .hero-content {
    color: whitesmoke;
    margin: 5% 10%;
  }
  
  .hero-content ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: x-large;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
  }
  
  .hero-content p {
    font-size: large;
    margin-left: 4%;
  }
  
  #orderBtn {
    padding: 10px 20px;
    margin: 0 0 5% 13%;
    border-radius: 10px;
    border: 1px solid whitesmoke;
    background-color: transparent;
    color: whitesmoke;
    font-size: large;
    cursor: pointer;
  }
  
  @media (max-width: 639px) {
    .logo {
      width: 110px;
      height: 50px;
    }
  
    .menu {
      display: block;
      color: whitesmoke;
    }
  
    .hero-content {
      margin: 23% 3%;
    }
  
    .hero-content ul {
      font-size: x-large;
      gap: 0;
    }
  }
  
  @media (max-width: 768px) {
    .menu {
      right: 4%;
      gap: 2%;
      top: 22%
    }
  }